@{
    ViewBag.Title = "About";
}


        <!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/images/shutterstock_327287249.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <hr class="small">
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->

@*<div class="container">
    <div>
        <section class="bg-primary" id="about">*@
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1 text-center">
                        @*<h2 class="section-heading"></h2>*@
                        <h3>
                            "Hi! My name is Mary Ann Burns, and this is my blog.  I have created it as a project for Coder Foundry,
                            in the fall of 2016.  As a part of this assignment, I will be adding posts every week which will
                            document my journey into the world of coding."
                        </h3>
                    </div>
                </div>
            </div>
        @*</section>
    </div>
 </div>*@
      
