@{
    ViewBag.Title = "Contact";
}


<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('/images/shutterstock_327287249.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Contact Me</h1>
                    <hr class="small">
                    <span class="subheading">Have questions? I have answers (maybe).</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="page-section" id="contact">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="content-section">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                @using (@Html.BeginForm("Contact", "Home", FormMethod.Post, new { @class = "contact-form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            <input type="email" id="email" name="email" placeholder="Your Email...">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Phone Number</label>
                                    <input type="text" id="your-phone" name="phone" placeholder="Your Phone Number...">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                                <div class="row control-group">
                          <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Message</label>
              <textarea name="message" id="message" cols="30" rows="6" placeholder="Leave your message..."></textarea>
          <p class="help-block text-danger"></p>
    </div>
       </div>
            <div class="form-group col-xs-12">
                 <button value="Send" class="btn btn-success" type="submit" id="submit">Send</button>
                    </div>
                }
                <p class="text-success text-center">
                    @ViewBag.Message
                </p>
            </div>
        </div>
    </div>
</div>


